.navbar {
   position: fixed;
   display: flex;
   bottom: 0px;
   height: 100px;
   width: 100%;
   background-color: aliceblue;
   justify-content: space-around;
   align-items: center;
   border-top: solid 1px;
}

.navbar__button {
   height: auto;
   border: none;
   background-color: transparent;
   scale: 0.4;
}
