.profile-section {
   position: relative;
   width: 60%;
   height: 40%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   background-color: rgb(235, 235, 235);
   margin-top: 3%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.profile_picture-container {
   padding: 3%;
   display: flex;
   align-items: center;
}

.profile__picture {
   scale: 0.8;
}

.profile__name {
   font-weight: bolder;
   font-size: 30px;
   text-align: center;
}

.profile__about-title {
   padding-bottom: 0;
   padding-left: 5%;
   margin-bottom: 10px;
}
.profile__about {
   padding-top: 0;
   padding-left: 5%;
   margin-top: 0;
}
.quiz_info {
   align-self: center;
}

.profile__setting-row {
   margin: 0;
   display: flex;
   align-items: center;
   height: 50px;
   justify-content: space-between;
}
.profile__setting-text {
   font-weight: bolder;
   margin-left: 10%;
}
.profile__settings-title {
   padding-left: 5%;
   margin-bottom: 0;
}
.profile__setting-button {
   border: none;
   background-color: transparent;
   transform-origin: center;
   transform: scale(0.3);
}
