.quizcard__card {
   position: relative;
   width: 60%;
   height: 40%;
   margin-left: auto;
   margin-right: auto;
   background-color: rgb(235, 235, 235);
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: max(20px, 3%);

   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   min-width: 300px;
}

.quizcard__bookmark {
   position: absolute;
   transform-origin: top right;
   height: 40px;
   width: 40px;
   right: 20px;
   top: -10px;
   background-color: transparent;
   border: none;
   background-image: url("../../assets/bookmark-hollow.png");
   background-size: contain;
}
.quizcard__bookmark.bookmarked {
   background-image: url("../../assets/bookmark-solid.png");
   background-size: contain;
}

.quizcard__question {
   font-weight: bold;
   padding: 30px;
   margin-bottom: 0;
   text-align: center;
}

.quizcard__answer-field {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   border: solid 1px rgb(216, 216, 216);
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 0;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 20px;
   height: 100px;
   width: 550px;
   transition:
      height 0.5s ease,
      width 0.5s ease;
}
.quizcard__answer-field.is-collapsed {
   height: 55px;
   width: 200px;
}
.quizcard__answer-text {
   text-align: center;
   opacity: 1;
   transition: opacity 0.5s ease;
}
.quizcard__answer-text.is-faded {
   opacity: 0;
}

.quizcard__show-answer {
   display: flex;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   background-color: rgb(198, 218, 235);
   margin-top: 5px;
   margin-right: 10px;
   border: solid 1px rgb(143, 143, 143);
   border-radius: 5px;
   box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.quizcard__tag-list {
   display: flex;
   list-style: none;
   align-self: flex-start;
   width: auto;
   height: auto;
   padding: 0;
   margin: 20px;
   flex-wrap: wrap;
}

.quizcard__tag {
   display: flex;
   justify-content: center; /* horizontal */
   align-items: center; /* vertical */
   padding: 5px;
   padding-left: 8px;
   padding-right: 8px;
   background-color: rgb(194, 194, 194);
   margin-top: 5px;
   margin-right: 10px;
   border: solid 1px rgb(143, 143, 143);
   border-radius: 5px;
}
